# Copy this file to .env and fill in your secrets
QDRANT_URL=
QDRANT_API_KEY=
PRODUCT_COLLECTION=sutra_db
FAQ_COLLECTION=faq
FAQ_EMBEDDING_MODEL=intfloat/multilingual-e5-small
PRODUCT_EMBEDDING_MODEL=intfloat/multilingual-e5-large
FAQ_VECTOR_SIZE=384
PRODUCT_VECTOR_SIZE=1024
BATCH_SIZE=64